/* Global */
img {
    height: auto;
    max-width: 100%;
}

article {
    background-color: hsla(187, 72%, 71%, 0.25);
    height: 100vh;
}

/* Top Bar */

.hamburger {
    position: absolute;
    top: 5px;
    left: 5px;
}

#menuPanel {
    background-color: #fff;
    padding: 10px;
    z-index: 3;
}

#app-title-bar {
    text-align: center;
    background-color: #000;
    color: #fff;
}

    #app-title-bar .title {
        font-size: 22px;
        text-transform: uppercase;
    }

/* App */
#employee-details {
    padding-top: 20px;
}

#employee-about {
    font-size: 18px;
    text-align: center;
}

#employee-list > ul {
    border: 0;
    box-shadow: none;
    padding: 0;
    list-style: none;
}

.chart-wrap {
    text-align: right;
    background-color: #fff;
    padding: 10px 10px;
    border: 1px solid #E0E0E0;
    margin-top: 10px;
}

.chart-title {
    font-size: 14px;
    text-transform: uppercase;
    text-align: right;
    color: #9DA2A4;
}

.sales-report-value {
    text-transform: uppercase;
    font-size: 28px;
}
/* Small Devices, Tablets, and Up */
@media only screen and (min-width : 768px) {
    #employee-about {
        text-align: left;
    }
    #employee-about .employee-name {
        padding-top:2em;
        display:block;
    }

    #app-title-bar .title {
        text-align: left;
    }

    #main-section-content {
        margin-left: 320px;
    }

    .app-wrapper {
        position: relative;
    }
}
