@model TelerikTagHelperDashboard.Models.OrderSearchCriteria
@{
    ViewBag.Title = "Team Efficiency";
}

<section id="app-title-bar" class="row">
    <div class="col-sm-3">
        <h1 class="title">@ViewBag.Title</h1>
    </div>
</section>
<div class="app-wrapper">
    <!-- Menu Panel -->
    <div class="hidden-xs" style="float:left;">
        <div>
            <h3>Report Range</h3>
            <p>
                <label>Stats From</label>
            </p>
            <p>
                <!-- Stats From Date Picker -->
                <input type="datetime-local" value="01/01/1996" />
            </p>
            <p>
                <label>Stats To</label>
            </p>
            <p>
                <!-- Stats To Date Picker -->
                <input type="datetime-local" value="01/01/1998" />
            </p>
            <nav id="employee-list">
                <h3>Team members</h3>
                <!-- Employee List View -->
                <ul>
                    <li>First Last</li>
                    <li>First Last</li>
                    <li>First Last</li>
                    <li>First Last</li>
                    <li>First Last</li>
                </ul>
            </nav>
        </div>
    </div>
    <!-- /Menu Panel -->
    <section id="main-section-content" class="row">
        <article class="col-xs-12">
            <!-- Report Header -->
            <section id="employee-details" class="row">
                <div id="employee-about" class="col-xs-12 col-lg-4">
                    <!-- Employee Avatar Template -->
                    <div class="row">
                        <div class="col-xs-12 col-sm-2">
                            <img src="http://placehold.it/90x90?text=Face">
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <span class="employee-name">FullName</span>
                        </div>
                    </div>
                    <!-- /Employee Avatar Template -->
                </div>
                <div class="col-xs-12 col-lg-4">
                    <div class="chart-wrap">
                        <h3 class="chart-title">Quarter to date sales</h3>
                        <p class="sales-report-value" id="EmployeeQuarterSalesLabel"></p>
                        <!-- QTD Sales Chart -->
                        <img src="//placehold.it/430x120?text=Chart" />
                        <!-- /QTD Sales Chart -->
                    </div>
                </div>
                <div class="col-xs-12 col-lg-4">
                    <div class="chart-wrap">
                        <h3 class="chart-title">Monthly Average Sales</h3>
                        <p class="sales-report-value" id="EmployeeAverageSalesLabel"></p>
                        <!-- Montly Sales Chart -->
                        <img src="//placehold.it/430x120?text=Chart" />
                        <!-- /Montly Sales Chart -->
                    </div>
                </div>
            </section>
            <!-- /Report Header -->
            <div class="row">
                <div class="col-xs-12">
                    <h3>Representative orders</h3>
                    <!-- Invoices -->
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>
                                    <a href="#">Dolor</a>
                                </th>
                                <th><a href="#">Lorem</a></th>
                                <th><a href="#">Ipsum</a></th>
                                <th><a href="#">Aliquam</a></th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 10; i < 101; i = i += 10)
                            {
                                <tr>
                                    <td>@i</td>
                                    <td>purus dignissim</td>
                                    <td>quam sed porttitor</td>
                                    <td>suspendisse</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <!-- /Invoices -->
                </div>
            </div>
        </article>
    </section>
</div>

<!-- /Kendo Templates -->
<!-- /Kendo Templates -->
@section Scripts {
    <script>
    </script>
}