<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Demo</title>

    <link href="//kendo.cdn.telerik.com/2018.3.1017/styles/kendo.common-nova.min.css" rel="stylesheet" type="text/css" />
    <link href="//kendo.cdn.telerik.com/2018.3.1017/styles/kendo.mobile.all.min.css" rel="stylesheet" type="text/css" />
    <link href="//kendo.cdn.telerik.com/2018.3.1017/styles/kendo.nova.min.css" rel="stylesheet" type="text/css" />

    <script src="//kendo.cdn.telerik.com/2018.3.1017/js/jquery.min.js"></script>
    <script src="//kendo.cdn.telerik.com/2018.3.1017/js/jszip.min.js"></script>
    <script src="//kendo.cdn.telerik.com/2018.3.1017/js/kendo.all.min.js"></script>
    <script src="//kendo.cdn.telerik.com/2018.3.1017/js/kendo.aspnetmvc.min.js"></script>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />
        <link href="~/css/Site.css" rel="stylesheet" />
        <link href="~/css/Site-Nova.css" rel="stylesheet" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="//ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />

        <link href="~/css/site.min.css" rel="stylesheet" />
        <link href="~/css/Site-Nova.css" rel="stylesheet" />
    </environment>
</head>
<body>
    <div class="container-fluid body-content">
        @RenderBody()
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
